*.class
# package ignore
*.war
*.ear
#kdiff3 ignore
*.orig
#maven ignore
target/
#eclipse ignore
.settings/
.project
.classpath
#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
#temp files ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.gz
#system ignore
.DS_Store
Thumbs.db
/logs/
/src/main/resources/mmall.properties
/src/main/resources/zfbinfo.properties
/src/main/resources.prod/
/src/main/resources.dev/
/src/main/resources.beta/
/src/main/resources/datasource.properties
